In [1]:
import pandas as pd
df = pd.read_csv('score_record.csv')
df = df.sort_values(by = 'score', ascending = False)
df = df[['name','score']].head(25)
df.to_csv('score_record.csv', columns=["name","score"], index = False)

In [2]:
df.head()

  name  score
0   dæ  13400
1  daa   9400
2  dae   9100
3  dae   8000
4   dæ   7500